.container .row .col-6 p {
    color: #1aac83;
    margin: auto 0;
    padding: 7px;
}

.task-row {
    border-right: 1p solid black;
    border-radius: 4px;
    border-bottom: 1p solid black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin-top: 5%;
}

.trash-btn {
    border: none;
    float: right;
}